@import "../../styles/define.module.scss";

.requestTop {
  padding: 8px;
  background-color: $mc1;
  min-height: 100vh;

  .listContainer {
    display: flex;
    flex-direction: column;
    margin: 8px 4px;

    // .listCard {
    //   background-color: $mc1;
    //   border-radius: 4px;
    //   overflow: hidden;

    //   .bookInfo {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     margin: 4px 0;

    //     .bookPicture {
    //       width: 60px;
    //       height: 80px;
    //       background-color: $mc3;
    //       margin: 0 8px;
    //       border-radius: 4px;
    //     }

    //     .bookTitle {
    //       flex: 1;
    //       display: -webkit-box;
    //       -webkit-box-orient: vertical;
    //       -webkit-line-clamp: 3;
    //       overflow: hidden;
    //     }
    //   }

    //   .requestController {
    //     width: 100%;
    //     overflow: hidden;
    //     height: 0;

    //     transition: 0.2s;

    //     button {
    //       width: 100%;
    //       font-size: $fs3;
    //       background-color: $ec3;
    //       border: none;
    //       color: white;
    //     }
    //   }

    //   .requestControllerOpen {
    //     height: 26px;

    //     transition: 0.4s;
    //     transition-delay: 0.2s;
    //   }

    //   .deleteController {
    //     display: flex;
    //     flex-direction: column;
    //     background-color: $ec1;
    //     overflow: hidden;
    //     height: 0;

    //     transition: 0.2s;

    //     .deleteMessage {
    //       margin: 8px 0;
    //       font-size: $fs3;
    //       color: $ec4;
    //       font-weight: bold;
    //       text-align: center;
    //     }

    //     .confirmController {
    //       display: flex;
    //       flex-direction: row;

    //       button {
    //         font-size: $fs3;
    //         flex: 1;
    //         border: none;
    //       }

    //       .yes {
    //         background-color: $ec4;
    //         color: white;
    //       }

    //       .no {
    //         background-color: $ec2;
    //       }
    //     }
    //   }

    //   .deleteControllerOpen {
    //     height: 66px;

    //     transition: 0.4s;
    //     transition-delay: 0.2s;
    //   }
    // }

    .noItem {
      font-size: $fs5;
      text-align: center;
      margin: 8px 0;
      color: $mc6;
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dmc7;

    .listContainer {
      // .listCard {
      //   background-color: $mc1;
      //   border-radius: 4px;
      //   overflow: hidden;

      //   .bookInfo {
      //     display: flex;
      //     flex-direction: row;
      //     align-items: center;
      //     margin: 4px 0;

      //     .bookPicture {
      //       width: 60px;
      //       height: 80px;
      //       background-color: $mc3;
      //       margin: 0 8px;
      //       border-radius: 4px;
      //     }

      //     .bookTitle {
      //       flex: 1;
      //       display: -webkit-box;
      //       -webkit-box-orient: vertical;
      //       -webkit-line-clamp: 3;
      //       overflow: hidden;
      //     }
      //   }

      //   .requestController {
      //     width: 100%;
      //     overflow: hidden;
      //     height: 0;

      //     transition: 0.2s;

      //     button {
      //       width: 100%;
      //       font-size: $fs3;
      //       background-color: $ec3;
      //       border: none;
      //       color: white;
      //     }
      //   }

      //   .requestControllerOpen {
      //     height: 26px;

      //     transition: 0.4s;
      //     transition-delay: 0.2s;
      //   }

      //   .deleteController {
      //     display: flex;
      //     flex-direction: column;
      //     background-color: $ec1;
      //     overflow: hidden;
      //     height: 0;

      //     transition: 0.2s;

      //     .deleteMessage {
      //       margin: 8px 0;
      //       font-size: $fs3;
      //       color: $ec4;
      //       font-weight: bold;
      //       text-align: center;
      //     }

      //     .confirmController {
      //       display: flex;
      //       flex-direction: row;

      //       button {
      //         font-size: $fs3;
      //         flex: 1;
      //         border: none;
      //       }

      //       .yes {
      //         background-color: $ec4;
      //         color: white;
      //       }

      //       .no {
      //         background-color: $ec2;
      //       }
      //     }
      //   }

      //   .deleteControllerOpen {
      //     height: 66px;

      //     transition: 0.4s;
      //     transition-delay: 0.2s;
      //   }
      // }

      .noItem {
        color: $mc1;
      }
    }
  }
}
