@import "../../styles/define.module.scss";

.mainNav {
  position: fixed;
  left: 50%;
  bottom: -282px;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 10;
  background-color: $mc4;
  overflow: hidden;
  border-radius: 16px;

  transition: 0.4s;
  transition-timing-function: $cubic;

  animation: fluffyAnime 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  @keyframes fluffyAnime {
    0% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 4px);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }

  .titleTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;

    .upIcon {
      width: 20px;
      height: 20px;
      margin: 4px 0;
      overflow: hidden;
      transition: 0.4s;
    }

    .titleContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 1;

      .title {
        font-size: $fs7;
        color: $mc7;
      }

      .bagContainer {
        margin-left: 30px;
        display: flex;
        flex-direction: row;

        .bagIcon {
          width: 30px;
          height: 30px;
          overflow: hidden;
        }

        .notiIcon {
          position: relative;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: $ec3;

          @keyframes notiAnime {
            from {
              height: 8px;
              width: 8px;
              opacity: 1;
            }
            to {
              height: 32px;
              width: 32px;
              opacity: 0;
            }
          }

          .notiInner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            background-color: $ec2;

            animation: notiAnime 1s linear 0s infinite;
          }
        }
      }
    }
  }

  .navBody {
    padding: 8px 16px;

    .listContainer {
      display: flex;
      flex-direction: column;
      margin: 8px 0;

      .listTitle {
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          font-size: $fs5;
          margin: 0 4px;
        }

        .titleLine {
          height: 2px;
          flex: 1;
          background-color: black;
        }
      }

      .rentalContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 4px 0;

        button {
          width: 40%;
          font-size: $fs4;
          background-color: $mc1;
          border: none;
          border-radius: 4px;
          color: $mc7;
        }
      }

      .myPageContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 4px 0;

        button {
          width: 40%;
          font-size: $fs4;
          background-color: $mc1;
          border: none;
          border-radius: 4px;
          color: $mc7;
        }
      }

      .backBtn {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        font-size: $fs5;
        border: none;
        color: $mc4;
        font-weight: bold;
        background-color: $mc1;
        margin: auto;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dmc5;

    .titleTop {
      .upIcon {
        filter: invert(60%);
      }
      .titleContainer {
        .title {
          font-size: $fs7;
          color: $mc4;
        }

        .bagContainer {
          .bagIcon {
            filter: invert(60%);
          }
          // .notiIcon {

          //   @keyframes notiAnime {
          //     from {
          //       height: 8px;
          //       width: 8px;
          //       opacity: 1;
          //     }
          //     to {
          //       height: 32px;
          //       width: 32px;
          //       opacity: 0;
          //     }
          //   }

          //   .notiInner {
          //     position: absolute;
          //     top: 50%;
          //     left: 50%;
          //     transform: translate(-50%, -50%);
          //     border-radius: 100%;
          //     background-color: $ec2;

          //     animation: notiAnime 1s linear 0s infinite;
          //   }
          // }
        }
      }
    }

    .navBody {
      .listContainer {
        .listTitle {
          .title {
            color: $mc1;
          }

          .titleLine {
            background-color: $mc1;
          }
        }

        .rentalContainer {
          button {
            background-color: $dmc4;
            color: $mc4;
          }
        }

        .myPageContainer {
          button {
            background-color: $dmc4;
            color: $mc4;
          }
        }

        .backBtn {
          color: $mc4;
          background-color: $dmc4;
        }
      }
    }
  }
}

.mainNavOpen {
  bottom: 10px;
  width: 96%;
  backdrop-filter: blur(12px);
  background-color: rgba($color: $mc4, $alpha: 0.6);
  box-shadow: 2px 2px 12px -2px $mc5;
  transition: 0.4s;
  transition-timing-function: $cubic;

  .titleTop {
    .upIcon {
      transform: rotate(60deg);
      transition: 0.4s;
    }
  }

  @media (prefers-color-scheme: dark) {
    backdrop-filter: blur(0);
    background-color: $dmc5;
    box-shadow: 4px 4px 24px -6px rgba($color: $mc3, $alpha: 0.4);

    .titleTop {
      .upIcon {
        transform: rotate(60deg);
        transition: 0.4s;
      }
    }
  }
}
