@import "../../../styles/define.module.scss";

.expansion {
  width: 100%;
  background-color: $mc4;
  border: none;
  font-size: $fs4;
  padding: 4px 8px;

  @media (prefers-color-scheme: dark) {
    background-color: $dmc4;
    color: $mc4;
  }
}

.noExpansion {
  width: 100%;
  background-color: $dc2;
  color: white;
  border: none;
  font-size: $fs4;
  padding: 4px 8px;

  @media (prefers-color-scheme: dark) {
    background-color: $dmc6;
    color: rgba($color: $mc1, $alpha: 0.6);
  }
}

.still {
  width: 100%;
  border: none;
  font-size: $fs4;
  padding: 4px 8px;
  background-color: $dc2;
  color: white;

  @media (prefers-color-scheme: dark) {
    background-color: $dmc6;
    color: rgba($color: $mc1, $alpha: 0.6);
  }
}

.expired {
  width: 100%;
  border: none;
  font-size: $fs4;
  padding: 4px 8px;
  background-color: $ec4;
  color: white;

  @media (prefers-color-scheme: dark) {
    background-color: $dmc6;
    color: $ec4;
  }
}

.loading {
  width: 100%;
  border: none;
  font-size: $fs4;
  padding: 4px 8px;
  background-color: $nc4;
  color: $nc7;
  transition: 0.4s;

  @media (prefers-color-scheme: dark) {
    background-color: $dmc6;
    color: $nc4;
  }
}
