@import "../define.module.scss";

.code {
  padding: 8px;
  background-color: $mc1;
  min-height: 100vh;

  .one {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    transition: 0.4s;
    transition-timing-function: $cubic;

    .title {
      font-size: $fs6;
      font-weight: bold;
    }

    .inputCard {
      background-color: white;
      border: 2px solid $mc4;
      height: 90px;
      margin: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 4px;

      .inputTitle {
        font-weight: bold;
        margin: 0 8px;
      }

      .inputContainer {
        margin: 0 8px;
        display: flex;
        justify-content: center;

        .typeInput {
          background-color: white;
          border: 2px solid $mc4;
          border-radius: 4px;
          font-size: $fs3;
          text-align: center;
          width: 200px;
        }
      }
    }

    .btnContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 4px 0;

      button {
        font-size: $fs4;
        border: none;
        padding: 8px;
        border-radius: 8px;
      }

      .goBtn {
        background-color: $mc4;
      }

      .backBtn {
        background-color: $mc2;
      }
    }
  }

  .oneOpen {
    height: 500px;
    transition: 0.8s;
    transition-timing-function: $cubic;
  }

  .two {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    transition: 0.4s;
    transition-timing-function: $cubic;

    .title {
      font-size: $fs6;
      font-weight: bold;
    }

    .resultContainer {
      .resultCard {
        margin: 8px;
        border: none;
        color: white;
        border-radius: 4px;

        .result {
          display: grid;
          grid-template:
            "... ..... ..... ..... ..." 8px
            "... img   ..... title ..." 80px
            "... owner owner owner ..." 30px
            "... ..... ..... ..... ..." 8px
            /8px 60px 1fr 260px 8px;

          .resultImg {
            grid-area: img;
            background-color: $mc1;
            border-radius: 4px;
          }

          .resultTitle {
            grid-area: title;
            line-height: 80px;
            text-align: center;
            font-size: $fs5;
            font-weight: bold;
          }

          .resultOwner {
            grid-area: owner;
            line-height: 30px;
            text-align: center;
            font-size: $fs4;
          }
        }
      }
      .bookCard {
        background-color: $mc4;
      }
      .rejectCard {
        background-color: $ec4;

        .rejectMessage {
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .question {
        text-align: center;
        margin: 8px 0;
      }

      .rejectBtnContainer,
      .btnContainer {
        margin: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
          width: 40%;
          font-size: $fs4;
          font-weight: bold;
          border-radius: 8px;
          padding: 4px;
          border: none;
        }
      }

      .rejectBtnContainer {
        .confirm {
          background-color: $ec4;
          color: white;
        }

        .reject {
          background-color: $ec1;
          color: $ec7;
        }
      }

      .btnContainer {
        .confirm {
          background-color: $mc4;
          color: white;
        }

        .reject {
          background-color: $mc3;
          color: $ec7;
        }
      }
    }

    .rejectContainer {
      .rejectCard {
        margin: 4px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: $ec3;
        color: white;
        border-radius: 4px;

        .rejectTitle {
          margin: 8px 0;
        }
      }
    }
  }

  .twoOpen {
    height: 250px;

    transition: 0.8s;
    transition-timing-function: $cubic;
  }

  .three {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;

    transition: 0.4s;
    transition-timing-function: $cubic;

    .title {
      font-size: $fs6;
      font-weight: bold;
    }

    .succeedContainer {
      .succeedCard {
        margin: 8px;
        height: 80px;
        background-color: $nc4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 4px;

        .message {
          font-weight: bold;
          font-size: $fs5;
        }
      }
    }

    .btnContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 200px;
        font-size: $fs4;
        font-weight: bold;
        background-color: $nc4;
        border: none;
        border-radius: 8px;
        padding: 4px;
        color: $nc7;
      }
    }
  }

  .threeOpen {
    height: 200px;

    transition: 0.8s;
    transition-timing-function: $cubic;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dmc7;

    .one {
      .title {
        color: $mc4;
      }

      .inputCard {
        background-color: $dmc5;
        border: none;

        .inputTitle {
          color: $mc4;
        }

        .inputContainer {
          .typeInput {
            background-color: $dmc4;
            border: none;
            transition: 0.2s;
            color: $mc4;

            &:focus {
              background-color: $dmc3;
              outline: none;
              transition: 0.4s;
            }
          }
        }
      }

      .btnContainer {
        .goBtn {
          background-color: $dmc4;
          color: $mc4;
        }

        .backBtn {
          background-color: $dmc6;
          color: $mc1;
        }
      }
    }

    .two {
      .title {
        color: $mc4;
      }

      .resultContainer {
        .resultCard {
          .result {
            background-color: $dmc5;

            .resultImg {
              background-color: $mc4;
            }

            .resultTitle {
              color: $mc4;
            }

            .resultOwner {
              color: $mc1;
            }
          }
        }

        .rejectCard {
          background-color: $dmc5;

          .rejectMessage {
            color: $ec4;
          }
        }

        .question {
          color: $mc1;
        }

        .rejectBtnContainer {
          .confirm {
            background-color: $dmc4;
            color: $ec4;
          }

          .reject {
            background-color: $dmc6;
            color: $ec1;
          }
        }

        .btnContainer {
          .confirm {
            background-color: $dmc4;
            color: $mc4;
          }

          .reject {
            background-color: $dmc6;
            color: $mc1;
          }
        }
      }
    }

    .three {
      .title {
        color: $mc4;
      }

      .succeedContainer {
        .succeedCard {
          background-color: $dmc5;
          color: $nc4;
        }
      }

      .btnContainer {
        button {
          background-color: $dmc4;
          color: $nc4;
        }
      }
    }
  }
}
