@import "../../../styles/define.module.scss";

.bookItem {
  display: flex;
  flex-direction: column;
  border: 2px solid $mc4;
  border-radius: 4px;
  overflow: hidden;
  margin: 8px 0;
  background-color: white;
  box-shadow: 2px 2px 16px -4px $mc5;

  .bookInfoContainer {
    display: grid;
    grid-template:
      "pic .. title" 40px
      "pic .. btn  " 40px
      /60px 4px 1fr;
    margin: 4px;

    .bookPic {
      grid-area: pic;
      background-color: $mc4;
    }

    .title {
      grid-area: title;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      line-height: 40px;
      font-size: $fs5;
      color: $mc6;
    }

    .resBtn {
      grid-area: btn;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .bookDetailContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    transition: 0.4s;
    transition-timing-function: $cubic;

    div {
      .detailTitleContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;

        .detailTitle {
          width: 33%;
        }
      }

      .detailDataContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 4px;

        .detailData {
          width: 33%;
          font-size: $fs3;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          color: $dc2;

          .tags {
            margin: 2px;
          }
        }
      }
    }
  }

  .controllContainer {
    width: 100%;

    button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 8px;
      background-color: $mc2;

      .openIcon {
        width: 12px;
        height: 12px;

        transform: rotate(60deg);
        transition: 0.8s;
        transition-timing-function: $cubic;
      }

      .openIconOpen {
        transform: rotate(0deg);
        transition: 0.8s;
        transition-timing-function: $cubic;
      }
    }
  }
}

.toast {
  background-color: $mc3;
  color: white;
  font-family: "Zen Maru Gothic", sans-serif;
  margin: 0 2px;
  border-radius: 0 0 4px 4px;
  margin-bottom: 4px;
}
