@import "../../../styles/define.module.scss";

.search {
  border-radius: 8px;
  overflow: hidden;
  background-color: $mc2;

  .titleContainer {
    color: $mc7;
    font-weight: bold;
    font-size: $fs6;
    margin: 4px;
  }

  .bodyContainer {
    height: 0;
    overflow: hidden;
    transition: 0.4s;
    transition-timing-function: $cubic;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .cateContainer {
      display: flex;
      flex-direction: column;
      margin: 4px;

      .cateTitleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          margin: 0 4px;
          font-size: $fs5;
          color: $mc6;
        }

        .divider {
          flex: 1;
          height: 2px;
          background-color: $mc6;
        }
      }

      .cateItemList {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .cateItemContainer {
          margin: 4px;

          .cateCheck {
            display: none;
          }

          .cateCheck:checked + .cateItem {
            color: $mc4;
            border-color: $mc4;
            background-color: $mc1;
            border-radius: 8px;

            transition: 0.4s;
          }

          .cateItem {
            border: 1px solid $dc2;
            padding: 0 8px;
            color: $dc1;
            background-color: white;

            transition: 0.2s;
          }
        }
      }
    }

    .checkBtnContainer {
      display: flex;
      flex-direction: row;
      margin-top: 4px;

      .checkBtn {
        background-color: $mc4;
        color: $mc7;
      }

      .checkOutBtn {
        background-color: $mc6;
        color: $mc1;
      }

      button {
        flex: 1;
        border: none;
        font-size: $fs4;
      }
    }
  }

  .btnContainer {
    button {
      background-color: rgba($color: $mc3, $alpha: 0.5);
      width: 100%;
      color: $mc7;
      border: none;
      font-size: $fs4;
      padding: 4px 8px;

      &::after {
        content: "▼";
      }
    }
  }
  .btnContainerOpen {
    button {
      &::after {
        content: "▲";
      }
    }
  }

  .bodyContainerOpen {
    height: 400px;
    transition: 0.6s;
    transition-timing-function: $cubic;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dmc5;

    .titleContainer {
      color: $mc4;
    }

    .bodyContainer {
      .cateContainer {
        .cateTitleContainer {
          .title {
            color: $mc4;
          }

          .divider {
            background-color: $dmc4;
          }
        }

        .cateItemList {
          .cateItemContainer {
            margin: 4px;

            .cateCheck:checked + .cateItem {
              color: $mc4;
              border-color: $mc4;
              background-color: $dmc4;
            }

            .cateItem {
              border: 1px solid $mc1;
              color: $mc1;
              background-color: $dmc5;
            }
          }
        }
      }

      .checkBtnContainer {
        .checkBtn {
          background-color: $dmc4;
          color: $mc4;
        }

        .checkOutBtn {
          background-color: $dmc6;
          color: $mc1;
        }
      }
    }

    .btnContainer {
      button {
        background-color: $dmc4;
        color: $mc4;
      }
    }
  }
}
