$mc1: #ffe8cc;
$mc2: #ffc680;
$mc3: #ffa333;
$mc4: #ff8c00;
$mc5: #cc7000;
$mc6: #804600;
$mc7: #4d2a00;

$ec1: #ffb3d5;
$ec2: #ff80b9;
$ec3: #ff338f;
$ec4: #ff0073;
$ec5: #cc005c;
$ec6: #800039;
$ec7: #4d0022;

$nc1: #d5ffb3;
$nc2: #b9ff80;
$nc3: #8fff33;
$nc4: #73ff00;
$nc5: #5ccc00;
$nc6: #398000;
$nc7: #224d00;

$dc1: #b3b3b3;
$dc2: #808080;
$dc3: #4d4d4d;

$fs1: 0.4rem;
$fs2: 0.6rem;
$fs3: 0.8rem;
$fs4: 1rem;
$fs5: 1.2rem;
$fs6: 1.5rem;
$fs7: 2rem;

$cubic: cubic-bezier(0.19, 1, 0.22, 1);
$shadow: 2px 2px 16px -4px $mc5;
